@import '../../styles/variables';
@import '../../styles/mixins';
.navbar {
  padding-top: 1em;
  display: none;
  .nav-item {
    .nav-link {
      color: $white;
    }
  }
}

@media (max-width: $xxl) {
  .navbar {
    display: block;
    .nav-item {
      margin-top: 1em;
      @include justify-center;
    }
  }
}
