.staking {
    padding: 0;
    display: block;
    justify-content: center;
    // align-items: center;
    // justify-content: center;
    // overflow: hidden;
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    .container {
        max-width: none;
    }

    .coin-staking-box {
        display: flex;
        overflow-x: scroll;
        position: relative;
        z-index: 9;
        color: white;
        text-align: center;
        margin-top: 2em;
        padding: 2em;
        background: linear-gradient(126.6deg, rgba(0, 0, 0, 0.7) 28.69%, rgba(0, 0, 0, 0.7) 100%);
        backdrop-filter: blur(10px);
        .coin-box {
            min-width: 400px;
            padding: 0.5em;
            margin: 0.5em;
            background: linear-gradient(126.6deg, rgba(0, 0, 0, 0.7) 28.69%, rgba(0, 0, 0, 0.7) 100%);
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 25px;
            float: left;
            img {
                width: 100%;
            }
            h5 {
                font-weight: 400;
            }
            h5.number {
                font-weight: bolder;
                font-size: 1.7rem;
            }
            h5.short {
                font-size: 1rem;
            }
            h5.short-number {
                font-size: 1rem;
                font-weight: bold;
                letter-spacing: 2px;
            }
            h5.yellow-bold {
                color: #FF9600;
                font-size: 1.3rem;
            }
            hr {
                width: 65%;
                margin-top: 18px;
            }
            .coin-button {
                width: 200px;
                background: linear-gradient(126.6deg, rgba(0, 0, 0, 0.7) 28.69%, rgba(0, 0, 0, 0.7) 100%);
                border: 1px solid rgba(255, 255, 255, 0.4);
                border-radius: 25px;
                margin: 0.9em auto;
                font-size: 1.2rem;
                font-weight: 900;
                cursor: pointer;
                line-height: 32px;
                height: 35px;
            }
            .coin-button:hover {
                background: linear-gradient(180deg, #ff9600 0%, #ff9600 100%);
                color: black;
            }
        }
    }
    
    .switch-button {
        background: linear-gradient(126.6deg, rgba(0, 0, 0, 0.7) 28.69%, rgba(0, 0, 0, 0.7) 100%);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 25px;
        width: 402px;
        font-size: 1.4rem;
        margin: auto;
        padding: 0;
        cursor: pointer;
        height: 32px;
        text-align: center;
        margin-top: 15px;
        .nft {
            width: 200px;
            color: white;        
            float: left;
        }
        .coin {
            width: 200px;
            color: white;        
            float: right; 
        }
        .active {
            background: linear-gradient(180deg, #ff9600 0%, #ff9600 100%);
            border: 1px solid rgba(255, 255, 255, 0.19);
            border-radius: 25px;
            color: black;
        }  
      }
    .claim-all {
        background: linear-gradient(126.6deg, rgba(0, 0, 0, 0.7) 28.69%, rgba(0, 0, 0, 0.7) 100%);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 25px;
        font-size: 1.4rem;
        margin: auto;
        padding: 0;
        color: white;
        max-width: 500px;
        margin-top: 1em;
        height: 32px;
        .available-claim {
            float: left;
            font-size: 1.2rem;
            line-height: 1.7em;
            margin-left: 12px;
        }
        .all-claim-button {
            width: 150px;
            background: linear-gradient(180deg, #ff9600 0%, #ff9600 100%);
            border: 1px solid rgba(255, 255, 255, 0.19);
            border-radius: 25px;
            color: black;
            float: right;
            cursor: pointer;
            font-weight: bolder;
        }  
        .all-claim-button:hover {
            opacity: 0.7;
        }
      }
    
    .stake-all {
        height: 35px;
        .stake-all-button {
            width: 300px;
            background: linear-gradient(126.6deg, rgba(0, 0, 0, 0.7) 28.69%, rgba(0, 0, 0, 0.7) 100%);
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 25px;
            margin: 0.5em auto;
            font-size: 1.25rem;
            font-weight: bolder;
            line-height: 2em;
            cursor: pointer;
        }
        .stake-all-button:hover {
            background: linear-gradient(180deg, #ff9600 0%, #ff9600 100%);
            color: black;
        }
    }
    .tran-box {
      position: relative;
      z-index: 9;
      color: white;
      text-align: center;
      margin: 2em 3em;
      background: linear-gradient(126.6deg, rgba(0, 0, 0, 0.7) 28.69%, rgba(0, 0, 0, 0.7) 100%);
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 25px;
      padding: 1em;
      h4.your-avatars {
        text-align: left;
        margin: 0.5em 3em;
      }
      .stake-state {
        padding: 0 2em;
        height: 52px;
        cursor: pointer;
        .staked {
            margin-top: 10px;
            border: 1px solid rgba(255, 255, 255, 0.19);
            border-radius: 25px;
            color: white;
            font-size: 1.6rem;
            font-weight: 600;
            width: 270px;
            margin-right: 20px;
            float: left;
        }
        .staked:hover {
            opacity: 0.7;
        }
        .unstaked {
            float: left;
            margin-top: 10px;
            border: 1px solid rgba(255, 255, 255, 0.19);
            border-radius: 25px;
            color: white;
            font-size: 1.6rem;
            font-weight: 600;
            width: 270px;
        }
        .unstaked:hover {
            opacity: 0.7;
        }
        .active {
            background: linear-gradient(180deg, #ff9600 0%, #ff9600 100%);
            color: black;
        }
      }
      .avatars {
          display: flex;
          overflow: auto;
          .nft-box {
            min-width: 300px;
            padding: 0.5em;
            margin: 0.5em;
            background: linear-gradient(126.6deg, rgba(0, 0, 0, 0.7) 28.69%, rgba(0, 0, 0, 0.7) 100%);
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 25px;
            float: left;
            .nft-button {
                width: 200px;
                background: linear-gradient(126.6deg, rgba(0, 0, 0, 0.7) 28.69%, rgba(0, 0, 0, 0.7) 100%);
                border: 1px solid rgba(255, 255, 255, 0.4);
                border-radius: 25px;
                margin: 0.9em auto;
                font-size: 1.2rem;
                font-weight: 900;
                cursor: pointer;
                line-height: 32px;
                height: 35px;
            }
            .nft-button:hover {
                background: linear-gradient(180deg, #ff9600 0%, #ff9600 100%);
                color: black;
            }
            h5.gray {
                opacity: 0.8;
            }
            h5.rarity-common:after {
                font-weight: bolder;
                content: "Common";
            }
            h5.rarity-rare:after {
                color: #FF0707;
                font-weight: bolder;
                content: "Rare";
            }
            h5.rarity-unique:after {
                color: #01F19A;
                font-weight: bolder;
                content: "Unique";
            }
            h5.rarity-legendary:after {
                color: #EC01F1;
                font-weight: bolder;
                content: "Legendary";
            }
            h5.yellow-bold {
                color: #FF9600;
                font-weight: bolder;
            }
          }
      }
      .m-auto {
          margin: 0 !important;
          .mint-box {
            margin: 1em 0;
            padding: 1em;
            background: linear-gradient(126.6deg, rgba(0, 0, 0, 0.7) 28.69%, rgba(0, 0, 0, 0.7) 100%);
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 25px;
            .bar {
                height: 1px;
                width: 100%;
                margin: 2em 0;
                border: 1px solid rgba(255, 255, 255, 0.4);
            }
            img {
                cursor: pointer;
            }
            img:hover {
                opacity: 0.8;
            }
            .col-number {
                float: left;
                width: 20%;
            }
            .connect-button {
                background: linear-gradient(180deg, #ff9600 0%, #ff9600 100%);
                border: 1px solid rgba(255, 255, 255, 0.19);
                border-radius: 25px;
                color: black;
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 2.5rem;
                cursor: pointer;
                width: 10em;
                margin: auto;
            }
            .connect-button:hover {
                opacity: 0.7;
            }
          }
      }
      h5 {
          font-weight: 400;
      }
    }
  
    .grad-txt {
      // background: -webkit-linear-gradient(0deg, #BA17C6 30%, #0394C1 70%);
      background: -webkit-linear-gradient(0deg, #D100E2 -11.59%, #0081AA 70.36%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 0.5em;
    }
    
  }
  
  @media (max-width: 1000px) {    
    .gameplay {
        .gameplay-box {
            margin: 1em 3em;
            .dice-image {
                img {
                    width: 100%;
                    min-width: 0;
                }
            }
        }
    }
  }
  
  @media (max-width: 780px) {
    .small-font {
      font-size: 0.6em;
    }
    .staking {
        padding: 0 0;
        // .stake-state {
        //     margin: auto;
        // }
        .staked, .unstaked {
            float: none !important;
            margin: auto;
            margin-right: 0 !important;
            width: auto !important;
        }
        .claim-all {
            height: 78px;
            .available-claim {
                float: none;
                margin: auto;
            }
            .all-claim-button {
                float: none;
                margin: 5px auto;
            }
        }
        .tran-box {
            margin: 2em 1em;
            h4.your-avatars {
                text-align: center;
                margin: 0.5em 0;
            }
            .stake-state {
                height: 80px;
            }
        }
    }
  }

  @media (max-width: 480px) {
    .staking {
        padding: 0 0;
        // .stake-state {
        //     margin: auto;
        // }
        .switch-button {
            width: 95%;
            .nft, .coin {
                width: 50%;
            }
        }
        .staked, .unstaked {
            float: none !important;
            margin: auto;
            margin-right: 0 !important;
            width: auto !important;
        }
        .claim-all {
            .available-claim {
                float: none;
                margin: auto;
            }
            .all-claim-button {
                float: none;
                margin: 5px auto;
            }
        }
        .tran-box {
            h4.your-avatars {
                text-align: center;
                margin: 0.5em 0;
            }
            .avatars {
                .nft-box {
                    min-width: auto;
                }
            }
        }
    }
  }
  