.token {
    // padding: 2em 0;
    display: block;
    justify-content: center;
    // align-items: center;
    // justify-content: center;
    // overflow: hidden;
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    .gameplay-box {
      position: relative;
      z-index: 9;
      color: white;
      text-align: center;
      margin: 3em 6em;
      background: linear-gradient(126.6deg, rgba(0, 0, 0, 0.7) 28.69%, rgba(0, 0, 0, 0.7) 100%);
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 25px;
      padding: 3em;
      .dice-image {
          img {
            min-width: 40em;
          }
      }
      p {
        font-size: 1.3em;
      }
      h5 {
          opacity: 0.8;
          font-weight: 350;
          .h4-text {
            font-size: 1.5rem;
          opacity: 1;
          font-weight: 500;
        }
      }
    }
  
    .grad-txt {
      // background: -webkit-linear-gradient(0deg, #BA17C6 30%, #0394C1 70%);
      background: -webkit-linear-gradient(0deg, #D100E2 -11.59%, #0081AA 70.36%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 0.5em;
    }
    
  }
  
  @media (max-width: 1000px) {    
    .beta {
        .gameplay-box {
            margin: 1em 3em;
            .dice-image {
                img {
                    width: 100%;
                    min-width: 0;
                }
            }
        }
    }
  }
  
  @media (max-width: 576px) {
    .small-font {
      font-size: 0.6em;
    }
    .beta {
        .gameplay-box {
            margin: 1em 1em;
            .dice-image {
                img {
                    width: 100%;
                    min-width: 0;
                }
            }
        }
    }
  }
  