@import '../styles/variables';
@import '../styles/mixins';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Luckiest Guy', cursive;
}

body,
html {
  background-color: $black;
}
p {
  font-family: 'Space Mono', monospace;
}

section {
  position: relative;
  // overflow: hidden;
  background-color: $black;
  h2 {
    font-size: 2.5em;
  }
  .content {
    color: $white;
  }
}
// .gradient-btn-wrapper {
//   background: linear-gradient(132.24deg, #126cff 4.37%, #22f1dc 100%);
//   border-radius: 25px;
//   padding: 1px;
//   button {
//     background: $black;
//   }
// }
button {
  outline: 0;
  padding: 0.6em 1.3em;
  background-color: transparent;
  color: $white;
  border: 1px solid transparent;
  border-radius: 25px;
  @include justify-center;
  font-family: 'Helvetica Neue Medium Extended', sans-serif;
  &.primary {
    background-color: $blue;
  }
  &.outlined {
    border: 2px solid $blue;
  }
  &.gradient-btn {
    @include gradient-border;
  }
}

@include styled-scrollbar;
