.beta {
    .tran-box {
      position: relative;
      z-index: 9;
      color: white;
      text-align: center;
      margin: 5em 8em;
      background: linear-gradient(126.6deg, rgba(0, 0, 0, 0.7) 28.69%, rgba(0, 0, 0, 0.7) 100%);
      border: 1px solid rgba(255, 255, 255, 0.19);
      border-radius: 25px;
      padding: 1em;
      hr {
        width: 400px;
        opacity: 0.4;
      }
      h5 {
        line-height: 1.7em;
      }
      .connect-button {
        width: 250px;
        background: linear-gradient(126.6deg, rgba(0, 0, 0, 0.7) 28.69%, rgba(0, 0, 0, 0.7) 100%);
        border: 1px solid rgba(255, 255, 255, 0.19);
        border-radius: 25px;
        margin: 0.9em auto;
        font-size: 1rem;
        font-weight: 900;
        cursor: pointer;
        line-height: 28px;
        height: 35px;
      }
      .connect-button:hover {
          background: linear-gradient(180deg, #ff9600 0%, #ff9600 100%);
          color: black;
      }
    }    
  }

  .progress {
    width: fit-content;
    margin: auto;
    color: white;
  }
  
  @media (max-width: 800px) {    
    .beta {
        .tran-box {
          margin: 5em 4em;
        }
    }
  }
  
  @media (max-width: 576px) {
    .beta {
      .tran-box {
        margin: 5em 1em;
        hr {
          width: 100%;
        }
      }
  }
  }
  