.header {
  padding: 2em;
  .p-mobile-auto {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  .header-content {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 2em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1.5em;
    height: 4em;
    .link-item {
      height: 2em;
      line-height: 2em;
      a {
        font-size: 1em;
        font-style: normal;
        font-weight: bold;
        cursor: pointer;
        padding-right: 0.5em;
        padding-left: 0.5em;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
        text-decoration: none;
        color: white;
      }
    }
    .link-item-active {
      height: 2em;
      line-height: 2em;
    //   background: linear-gradient(180deg, #cfa05d 0%, #e7c18c 100%);
    //   border: 1px solid rgba(255, 255, 255, 0.19);
    //   border-radius: 25px;
      a {
        font-size: 1em;
        font-style: normal;
        font-weight: bold;
        cursor: pointer;
        padding-right: 0.5em;
        padding-left: 0.5em;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
        text-decoration: none;
        color: #ff9600;
      }
    }
    .link-item:hover {
      background: linear-gradient(180deg, #ff9600 0%, #ff9600 100%);
      border: 1px solid rgba(255, 255, 255, 0.19);
      border-radius: 25px;
      a {
        color: black;
      }
    }
    .img-link-item {
        height: 2em;
        img {
            width: 200%;
            height: 170%;
            margin-left: -32%;
            margin-top: -5%;
        }
    }
    //   a:hover {
    //     background: linear-gradient(180deg, #FF9600 0%, #FF9600 100%);
    //     border: 1px solid rgba(255, 255, 255, 0.19);
    //     border-radius: 25px;
    //     color: black;
    //   }
    //   a:active {
    //     background: linear-gradient(180deg, #FF9600 0%, #FF9600 100%);
    //     border: 1px solid rgba(255, 255, 255, 0.19);
    //     box-sizing: border-box;
    //     border-radius: 25px;
    //     color: black;
    //   }
  }
  .header-mobile-content {
    background-color: black;
    color: white;
    text-align: center;
    // padding: 2em 0;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1.5em;

    img {
      width: 15em;
    }
    a {
      font-size: 0.8em;
      font-style: normal;
      font-weight: bold;
      cursor: pointer;
      padding-right: 0.5em;
      padding-left: 0.5em;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: center;
    }
    a:hover {
      background: linear-gradient(180deg, #ff9600 0%, #ff9600 100%);
      border: 1px solid rgba(255, 255, 255, 0.19);
      box-sizing: border-box;
      border-radius: 25px;
      color: black;
    }
    a:active {
      background: linear-gradient(180deg, #ff9600 0%, #ff9600 100%);
      border: 1px solid rgba(255, 255, 255, 0.19);
      box-sizing: border-box;
      border-radius: 25px;
      color: black;
    }
  }
}

@media (max-width: 1140px) {
  .header-content {
    display: none;
  }
  .header-mobile-content {
    display: block;
  }
}
@media (min-width: 1140px) {
  .header-mobile-content {
    display: none;
  }
  .header-content {
    display: flex;
  }
}
