.header {
  padding: 2em;
  .header-content {
    background-color: black;
    color: white;
    text-align: center;
    // padding: 2em 0;
    margin-left: 5em;
    margin-right: 5em;
    border-radius: 1.5em;
    img {
      width: 30em;
    }
    a {
      font-size: 1em;
      font-style: normal;
      font-weight: bold;
      cursor: pointer;
      padding-right: 2em;
      padding-left: 2em;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: center;
    }
    a:hover {
      background: linear-gradient(180deg, #FF9600 0%, #FF9600 100%);
      border: 1px solid rgba(255, 255, 255, 0.19);
      box-sizing: border-box;
      border-radius: 25px;
      color: black;
    }
    a:active {
      background: linear-gradient(180deg, #FF9600 0%, #FF9600 100%);
      border: 1px solid rgba(255, 255, 255, 0.19);
      box-sizing: border-box;
      border-radius: 25px;
      color: black;
    }
  }
  h4 {
    margin-bottom: 1em;
  }
  
}

