.footer {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 2em 0;
  
    img {
      margin: 2em;
      cursor: pointer;
    }
  
    img:hover {
      background: linear-gradient(180deg, #FF9600 0%, #FF9600 100%);
      box-sizing: border-box;
      border-radius: 25px;
      box-shadow: 0 0 7px 2px #FF9600;
    }
    
  }

@media screen and (max-width: 500px) {
    .footer img {
        margin: 1em;
    }
}
  